* {
  margin: 0;
  padding: 0;
  font-family: "Luckiest Guy", sans-serif;
  color: #00ff00; /* Brighter neon green */
  line-height: 1.5em;
  text-decoration: none;
}

a:hover {
  color: #00e600; /* Slightly darker neon green for hover effect */
}

footer {
  text-align: center;
  left: 0;
  right: 0;
  bottom: 1em;
  font-size: 0.75em;
  color: #00ff00; /* Ensures footer text is also neon green */
}
